@import "tailwindcss";



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.font-aleo {
  font-family: 'Aleo', serif;
  color: #ffffff;
}


.indicator-active {
  background-color: white;
  padding: 4px;
}

.indicator-inactive {
  background-color: gray;
  padding: 4px;
}

.banner-button {
  background-color: red;
  color: white;
  border-radius: 30px;
  padding: 15px;
  width: 230px;
  /* width: 250px; */
}

.gray-text {
  color: #75757A;
}



.lead-underline {
  position: relative;
  display: inline-block;
}

.lead-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;            /* distance from text */
  width: 100%;
  height: 6px;
  border-bottom: 3px solid white;
  border-radius: 50%;
}


@media (min-width: 2000px) {
  .w-60-3xl {
    width: 80% !important;
  }
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}